*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url(strict.jpg);
    background-position: center; 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 15px;
}


.login-page{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2), 
    0 5px 5px 0 rgb(0, 0, 0, 0.24) ;
    background: #ffff;
    border-radius: 10px;
    
}

.login-page h2{
    text-align: center;
    margin-bottom: 1px;
    
}

.input-box{
    margin-bottom: 10px;
}

.input-box input{
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border: 0;
    background: #f2f2f2;
    outline: none;
    margin-bottom: 5px;
    margin-top: 15px;
}

.login-page button{
    width: 100%;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: green;
    border: 0;
    color: #ffff;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 15px;
}


.login-page p{
    color: #b3b3b3;
    font-size: 12px;
}

.login-page p a{
    text-decoration: none;
    color: green;
}

.registration-form{
    display: none;
}



#countdown-container {
    text-align: center;
    margin-bottom: 5px;
}

#countdown-timer {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#resetButton {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #0E0808; 
    color: #0E0808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #0E0808; 
}
